<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'base/style/style.css' %}" />
    <script src="{% static 'base/scripts/jquery.min.js' %}"></script>
</head>
<body>
    <div id="header">
        Sudotechs
   {% if user.is_authenticated %}
     <li>User: {{ user.get_username }}</li>
     <li><a href="{% url 'auth_logout'%}?next={{request.path}}">Logout</a></li>
     <li><a href="{% url 'client_profile'%}">Profile</a></li>
     <li><a href="{% url 'current_print_orders'%}">Current Orders</a></li>
     <li><a href="{% url 'create_print_order'%}">Create Order</a></li>
     <li><a href="{% url 'print_orders_history'%}">Orders History</a></li>
   {% else %}
     <li><a href="{% url 'auth_login'%}?next={{request.path}}">Login</a></li>
   {% endif %}
  </ul>
    </div>
    {% if messages %}
    <div id="system_messages">
        <ul>
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
{% block scripts %}{% endblock %}
</body>
</html>