{% extends "base/base.html" %}
{% load i18n %}

{% block content %}
<h2>Edit order #{{order.id}}</h2>
<form method="post" action="." enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <label>Delivery type:</label>
        <select name="delivery_type">
            {% for delivery_type in delivery_types %}
                <option value="{{delivery_type.0}}"
                    {% if delivery_type.0 == order.delivery_type %}selected{% endif %}
                > {{delivery_type.1}}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label>Delivery address</label>
        <textarea name="delivery_address">{{order.delivery_address}}</textarea>
    </div>
    <div>
        <label>Comment</label>
        <textarea name="comment"></textarea>
    </div>
    <div id="created_models_div">
        {% for item in order.items.all %}
            <div>
                <div><label>Remove</label><input name="models#{{item.id}}.remove" type="checkbox"></div>
                <div><input name="models#{{item.id}}.model_file" type="file"></div>
                <div><label>Count</label><input type="number" name="models#{{item.id}}.count" value="{{item.count}}"></div>
                <label>Material</label>
                <select name="models#{{item.id}}.material" class="material_select">
                    {% for material in materials %}
                        <option value="{{material.material.id}}"
                                {% if material.material.id == item.material_id %}selected{% endif %}
                        >{{material.material.title}}</option>
                    {% endfor %}
                </select>
                <label>Colour</label>
                <select name="models#{{item.id}}.colour" class="colour_select">
                    {% for material in materials %}
                        {% if material.material.id == item.material_id %}
                            {% for colour in material.colours %}
                                <option value="{{colour.id}}"
                                    {% if colour.id == item.colour_id %}selected{% endif %}
                                >{{colour.title}}</option>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </select>
                <div>
                    <label>Layer height</label>
                    <select name="models#{{item.id}}.layer_height">
                        {% for layer_height in layer_heights %}
                            <option value="{{layer_height.0}}"
                                    {% if layer_height.0 == item.layer_height %}selected{% endif %}
                            >{{layer_height.1}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label>Infills</label>
                    <select name="models#{{item.id}}.infill">
                        {% for infill in infills %}
                            <option value="{{infill.0}}"
                                    {% if infill.0 == item.infill %}selected{% endif %}
                            >{{infill.1}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label>Shells</label>
                    <select name="models#{{item.id}}.shells">
                        {% for shell in shells %}
                            <option value="{{shell.0}}"
                                    {% if shell.0 == item.shells %}selected{% endif %}
                            >{{shell.1}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label>Comment</label>
                    <textarea name="models#{{item.id}}.comment">{{item.comment}}</textarea>
                </div>
            </div>
        {% endfor %}
    </div>
    <div id="new_models_div">
    </div>
    <div><div style="color: blue" id="add_model">Add Model</div></div>
    <input type="submit" value="Save changes">
</form>
{% endblock %}

{% block scripts %}
<script>
    var MATERIALS = [
        {% for material in materials %}
            {
                "value": "{{material.material.id}}",
                "text": "{{material.material.title}}",
                "colours": [
                    {% for colour in material.colours %}
                        {
                            "value": "{{colour.id}}",
                            "text": "{{colour.title}}"
                        },
                    {% endfor %}
                ]
            },
        {% endfor %}
    ];

    var LAYER_HEIGHTS = [
        {% for height in layer_heights %}
            {
                "value": "{{height.0}}",
                "text": "{{height.1}}"
            },
        {% endfor %}
    ];
    var INFILLS = [
        {% for infill in infills %}
            {
                "value": "{{infill.0}}",
                "text": "{{infill.1}}"
            },
        {% endfor %}
    ];
    var SHELLS = [
        {% for shell in shells %}
            {
                "value": "{{shell.0}}",
                "text": "{{shell.1}}"
            },
        {% endfor %}
    ]


</script>
<script>
    var modelIndex = 0;
    var addModelForm = function(){
        var modelIndexStr = 'models[' + modelIndex + ']';
        var htmlStr = '' +
            '<div>' +
                '<input name="' + modelIndexStr + '.model_file" type="file">' +
                '<div><label>Count</label><input type="number" name="' + modelIndexStr + '.count" value="1" min="1" max="30"></div>' +
                '<div><label>Material</label><select name="' + modelIndexStr + '.material" class="material_select">';
        for (var i=0; i<MATERIALS.length; i++){
            htmlStr+= '<option value="' + MATERIALS[i].value + '">' + MATERIALS[i].text + '</option>'
        };

        htmlStr+= '</select></div>' +
                '<div><label>Colour</label>'+
                '<select name="' + modelIndexStr + '.colour"  class="colour_select">';

        for (var i=0; i<MATERIALS[0].colours.length; i++){
            htmlStr+= '<option value="' + MATERIALS[0].colours[i].value + '">' + MATERIALS[0].colours[i].text + '</option>'
        };
        htmlStr+= '</select></div>' +
                '<div><label>Layer height</label><select name="' + modelIndexStr + '.layer_height">';

        for (var i=0; i<LAYER_HEIGHTS.length; i++){
            htmlStr+= '<option value="' + LAYER_HEIGHTS[i].value + '">' + LAYER_HEIGHTS[i].text + '</option>'
        };

        htmlStr+= '</select></div>' +
                '<div><label>Infills</label><select name="' + modelIndexStr + '.infills">';

        for (var i=0; i<INFILLS.length; i++){
            htmlStr+= '<option value="' + INFILLS[i].value + '">' + INFILLS[i].text + '</option>'
        };


        htmlStr+= '</select></div>' +
                '<div><label>Shells</label><select name="' + modelIndexStr + '.shells">';

        for (var i=0; i<SHELLS.length; i++){
            htmlStr+= '<option value="' + SHELLS[i].value + '">' + SHELLS[i].text + '</option>'
        };


        htmlStr+= '</select></div>' +
                '<div>' +
                    '<label>Comment</label>' +
                    '<textarea name="' + modelIndexStr + '.comment"></textarea>' +
                '</div>' +
            '</div>';
        $('#new_models_div').append(htmlStr);
        modelIndex++;
    }
    $( document ).ready(function(){
        $('#add_model').click(addModelForm);
        $(document).on('change', '.material_select',  function(e){
            var colorSelect = $(e.target).parent().children('.colour_select')[0];
            var htmlStr = "";
            var material;
            for (var i=0; i<MATERIALS.length; i++){
                if(MATERIALS[i].value == e.target.value)
                    material = MATERIALS[i];
            }
            for (var i=0; i<material.colours.length; i++){
                htmlStr+= '<option value="' + material.colours[i].value + '">' + material.colours[i].text + '</option>'
            };
            $(colorSelect).html(htmlStr);
        })
    })
</script>
{% endblock %}